@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
:root{
    --transition: all 300ms ease-in-out;
    --dark-color: #332e29;
    --light-color: #fff;
    --secondary-color: #8A9A5B;
    --navy-color: #03038b;
}

html{
    scroll-behavior: smooth;
}
body{
    font-size: 1.6rem;
    font-family: 'Josefin Sans', sans-serif;
    /* line-height: 1.6rem; */
    background-color: black;
}
button, .btn{
    cursor: pointer;
    border: none;
    background: transparent;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
h1, h2, h3, h4{
    margin-top: 0;
    line-height: 1.3;
    margin-bottom: 2rem;
    color: var(--light-color);
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.title{
    text-align: center;
}
.vh-100{
    min-height: 100vh;
}
.py-7{
    padding: 7rem 0;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}
#header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('images/pexels-junior-teixeira-2047905.jpg') center/cover no-repeat fixed;
    justify-content: center;
    align-items: flex-end;
}

#header .container{
    width: 100%;
}
.header-content{
    margin-bottom: 100px;
}
.header-content h3{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.header-content h4{
    color: var(--light-color);
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 1rem;
}
.header-content h3, h4 {
    text-align: center;
}
.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3.5rem;
}
.social-links li a{
    width: 40px;
    height: 40px;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    border-radius: 40px;
    transition: var(--transition);
}
.social-links li a:hover{
    opacity: 0.7;
}
.about-content{
    text-align: center;
}

.btn-down{
    color: var(--light-color);
    font-size: 2.5rem;
    display: inline-block;
    margin-top: 1rem;
    transition: var(--transition);
}
.btn-down:hover{
    opacity: 0.8;
    transform: translateY(5px);
}
.btn-down-white{
    color: var(--light-color);
}
.title{
    margin-bottom: 5rem;
}
.title h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    position: relative;
}

.lead{
    color: var(--light-color);
}
/*---------line skills--------*/
.flex1{
    
}
.text{
    color: var(--light-color);

}
.btn2{
    color: var(--light-color);

}
.line_content .line {
    display: flex;
    margin-bottom: 10px;
}

.line_content p {
color: var(--light-color);

text-transform: uppercase;
width: 35%;
}

.line_content h5 {
background: #30D3FF;
width: 50px;
height: 40px;
text-align: center;
line-height: 40px;
border-radius: 5px;
position: relative;
margin-top: -5px;
}

.line_content h5::after {
position: absolute;
content: '';
left: -4px;
top: 12px;
width: 10px;
height: 10px;
background: #30D3FF;
transform: rotate(45deg);
}

.line_content .line:nth-child(2) h5::after,
.line_content .line:nth-child(2) h5 {
background: #FF761B;
}

.line_content .line:nth-child(3) h5::after,
.line_content .line:nth-child(3) h5 {
background: #FF26BE;
}
.line_content .line:nth-child(4) h5::after,
.line_content .line:nth-child(4) h5 {
background: lightseagreen
}
.line_content .line:nth-child(5) h5::after,
.line_content .line:nth-child(5) h5 {
background: lightcoral;
}
.line_content .line:nth-child(6) h5::after,
.line_content .line:nth-child(6) h5 {
background: lightgreen;
}
.line_content .bar {
width: 60%;
background: #ffffff;
height: 5px;
margin-top: 10px;
margin-right: 20px;
}
.animation_bar{
    height: 5px;
    background: #30D3FF;
    width: 100%;
    animation: bar 2.8s;
}
.line_content .line_bar {


}

.line_content .css {
width: 90%;
background: #FF761B;
}
.line_content .js {
width: 60%;
background: #FF26BE;
}
.line_content .word {
width: 80%;
background: lightseagreen;
}
.line_content .cplus {
width: 65%;
background: lightcoral;
}
.line_content .c {
width: 70%;
background: lightgreen;
}


@keyframes bar {
0% {
    width: 0%;
}
}

@keyframes write {
0% {
    left: 0;
}

20% {
    content: "15%";
}

40% {
    content: "30%";
}

60% {
    content: "45%";
}

80% {
    content: "60%";
}

100% {
    content: "70%";
}

}
.technical{ 
    margin-top: 100px;   
}
@keyframes circle_animation {
    0% {
        stroke-dashoffset: 340px;
    }
    
    100% {
        stroke-dashoffset: 0px;
    }
    }

.skill-container {
margin-top: 50px;
justify-content: space-around;

}
.circle-box{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
circle {

}
.animation_circle{
    stroke-width: 5px;
    stroke: #D593FF;
    fill: transparent;
    animation: circle_animation 2s linear backwards;
}
.skill-container .circle_box:nth-child(1) circle {
    stroke: #35FC00;
    }
.skill-container .circle_box:nth-child(2) circle {
stroke: red;
}

.skill-container .circle_box:nth-child(3) circle {
stroke: #FFA726;
}

.skill-container .circle_box:nth-child(4) circle {
stroke: #00A0D2;
}
.skill-circle{
    margin-left: 30px;
}
.circle-text{
    color: var(--light-color);
    text-align: center;
}
circle p {
vertical-align: middle;
display: table-cell;
}
@media(min-width: 300px){
    .title h2{
        display: inline-block;
        border-bottom: 4px solid var(--secondary-color);
        font-size: 28px;
    }
    .line_content .bar {
        display: none;
    }
    .line_content p{
        overflow-x: auto;
    }
    .flex1{
        justify-content: space-around;
    }
    .line_content p {
        margin-right: 40px;
    }
    .skill-container{
        flex-direction: column;
    }
    .skill-circle{
        
    
    }
    circle{
        width: 150px;
        margin: 0 auto;
    }

}
@media(min-width: 768px){
    .about-content, .work-top{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 6rem;
        row-gap: 0;
    }
<<<<<<< HEAD
}
=======
    .skill-container{
        flex-direction: row;
    }
    .line_content .bar{
        display: flex;
    }
    .title h2{
        display: inline-block;
        border-bottom: 4px solid var(--secondary-color);
        font-size: 35px;
    }
}
@media(min-width: 1200px) {
 
}
>>>>>>> 5eff76e (added js,skill section)
